.content-cover {
  position:fixed;
  top:0px;
  right:-100vw;
  background-color:white;
  width:100vw;
  height:100vh;
  max-height: 100vh;
  z-index:120;
  padding: 8px 20px 24px;
  overflow:auto;
  transition: right 0.3s ease-in-out;
}

.content-cover > a.close {
  font-size:50px;
  line-height:0.5;
  color:black;
  opacity:0.1;
  position:fixed;
  top:15px;
  right:10px;
  z-index: 10;
}

.slide-out {
  transition: right 0.3s ease-in-out;
  right:-100vw;
}

.slide-in {
  right:0px;
  transition: right 0.3s ease-in-out;
}
